:root{
    --primary-color: #A0CE4E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.flex{
    display: flex;
}
button{
    background:none;
    border: none;
}
.main{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}
.top-section{
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #29292A;
    color: white;
    height: 50px;
}
.top-section .call-us{
    font-size: 13px;
}
.top-section .socials i{
    padding: 10px;
    background-color: pink;
    border-radius: 4px;
    margin-left: 5px;
}
.top-section .socials i:nth-child(1){background-color: #3B5998;}
.top-section .socials i:nth-child(2){background-color: #55ACEE;}
.top-section .socials i:nth-child(3){background-color: #3F729B;}
.top-section .socials i:nth-child(4){background-color: black;}
                /* nav section | section 2 */
#nav{
    height: 90px;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
#nav ul{
    list-style-type: none;
}
#nav ul .menu1{
    margin: 27px;
    padding-top: 20px;
    border-top: 3px solid white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15px;
}
#nav .logo{
    width: 150px;
}
#nav ul .menu1:hover{
    border-top: 3px solid var(--primary-color);
    color: var(--primary-color);
}
#nav ul .menu-hov:hover .sub-menu,
#nav ul .menu-hov:hover .search-menu{           /*for both sub menu and search menu*/
    visibility: visible;
}
#nav ul .menu1 i{
    display: none;
}
.sub-menu{
    position: absolute;
    width: 170px;
    background-color: #F2EFEF;
    border-top: 3px solid var(--primary-color);
    margin-top: 25px;
    visibility: hidden;
}
.sub-menu li{
    padding: 10px 0 10px 10px;
    color: black;
}
.search-menu{
    position: absolute;
    width: 270px;
    height: 100px;
    background-color: #F2EFEF;
    margin: 25px 0 0 -250px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.search-menu input{
    height: 40px;
    outline: none;
    border-radius: 0;
    border: none;
}
.search-menu i{
    background-color: black;
    color: white;
    padding: 12px;
}
                    /* companies header */
.compaines{
    height: 80px;
    background-color: #F2EFEF;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border: 1px solid grey;
}
.compaines p{
    font-size: 20px;
}
.compaines input{
    height: 40px;
    outline: none;
    border-radius: 0;
    border: none;
    padding: 0 10px;
}
.compaines .search i{
    background-color: black;
    color: white;
    padding: 12px;
}
.texts{
    padding: 0 40px;
}
.texts .left{
    width: 300px;
    min-height: 400px;
}
.texts .right{
    width: 300px;
    min-height: 400px;
    line-height: 3;
}
.texts .left p{
    font-size: 20px;
    margin-top: 25px;
    line-height: 2;
}
.texts .left p:hover{
    color: var(--primary-color);
}
.texts .right h4{
    font-weight: 1;
}
.texts .right h4:nth-child(3){
    color: #FF6600;
    text-decoration: underline;
}
.texts .right button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(#CBE6FC, #A3D2FA);
    font-size: 16px;
}
.bottom-text{
    width: 350px;
    margin: 0 40px;
}
.bottom-text p:hover{
    color: var(--primary-color);
}
.bottom-text .blue{
    padding: 30px 0;
    color: rgb(66, 107, 194);
}
.bottom-text .down p{
    padding: 20px 0;
}
.last{
    width: 90%;
    height: 50px;
    background: linear-gradient(#EEEEEE 0% 50%, #D6E3F6 50% 100%);
    margin: 40px auto;
}






/* footer section */
.footer{
    height: 400px;
    background-color: #D8D8D8;
    align-items: center;
    justify-content: space-between;
    border-top: 10px solid var(--primary-color);
}
.footer .right{
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.footer .right img{
    width: 150px;
    padding: 20px 0 20px 0;
}
.footer .left{
    width: 300px;
    height: 100px;
    background: linear-gradient(#018101, #5DC75D 75px, #90EE90 70px 100px);
    margin-right: 200px;
    align-items: center;
    border-radius: 0 20px 20px 0;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    box-shadow: 10px 10px 0 #C5C7C9;
}
.footer-bottom{
    height: 70px;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    background-color: #235E27;
    color: white;
    font-size: 13px;
}
.footer-bottom i{
    padding: 0 5px;
    color: gray;
}